.slick-next::before,
.slick-prev::before {

  color: #17696A;
  font-size: 35px;
}

.slick-arrow,
.slick-prev {
  width: 45px;
  height: 45px;
}

/* .slick-slider {
  width: 50%;
} */

.slick-prev {
  left: -50px;
}

.slick-next {
  right: -50px;
}